{% apply spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="author" content="{% block meta_author %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:type" content="{% block og_meta_type %}{% endblock %}">
        <meta property="og:title" content="{% block og_meta_title %}{% endblock %}">
        <meta property="og:description" content="{% block og_meta_description %}{% endblock %}">
        <meta property="og:image" content="{% block og_meta_image %}{% endblock %}">
        <meta property="og:url" content="{% block og_meta_route %}{% endblock %}">
        <meta property="og:site_name" content="{% block og_meta_site_name %}{% endblock %}">
        <meta name="twitter:title" content="{% block tw_meta_title %}{% endblock %}">
        <meta name="twitter:description" content="{% block tw_meta_description %}{% endblock %}">
        <meta name="twitter:image" content="{% block tw_meta_image %}{% endblock %}">
        <meta name="twitter:site" content="{% block tw_meta_site %}{% endblock %}">
        <meta name="twitter:creator" content="{% block tw_meta_creator %}{% endblock %}">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
            <link rel="stylesheet" href="{% block asset_path %}{% endblock %}css/style.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
{% endapply %}