{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="">
        <h1> {{ title }}</h1>
        <p>The service you requested had the following result: <b>{{ result }}</b>.</p>
    </div>
{% endblock %}